@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E1E6EC;
}

.container{
    margin-top: 20px;
    padding: 6px;
    width: 300px;
    height: 200px;
    border-radius: 8px;
    background-color: #E1E6EC;
    box-shadow: 5px 5px 11px #A2B1C6 , -5px -5px 11px  #fff  ;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: auto;
    background-color: #E1E6EC;
    box-shadow: 5px 5px 11px #A2B1C6 , -5px -5px 11px  #fff  ;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.wrapper{
    position: relative;
}

.container img{
    width: 80%;
}

#titleDiv {
    height: 40px;
}

.container h1{
    font-size: 1.5rem;
    margin: 12px 0 12px 0;
}

.buttons{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.buttons button{
    position: relative;
    width: 50px;
    height: 50px;
    padding: 16px;
    border-radius: 90px;
    background-color: #E1E6EC;
    text-align: left;
    margin: 10px 9px;
    border: none;
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff  ;
}

#play {
    width: 75px;
    height: 75px;
}


.buttons button:active{
    background: #E1E6EC;
    box-shadow: inset 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff  ;
}

.buttons button img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 42%;
    height: 42%;
}

#songsListButtons {
    margin-top: 10px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    background-color: #E1E6EC;
    border: none;
    font-family: 'Roboto', sans-serif;
}

#shuffle {
    width: 20px;
    height: 20px;
    border-radius: 90px;
    background-color: #E1E6EC;
    border: none;
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
}

#shuffle img {
    padding-top: 2px;
    height: 15px;
}

#shuffle:active{
    background: #E1E6EC;
    box-shadow: inset 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff  ;
}

#createPlaylistBtn{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background-color: #E1E6EC;
    border: none;
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
    font-family: 'Roboto', sans-serif;
}

#savePlaylistBtn{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background-color: #E1E6EC;
    border: none;
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
    font-family: 'Roboto', sans-serif;

}

#createPlaylistBtn:active{
    background: #E1E6EC;
    box-shadow: inset 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff  ;
}

#savePlaylistBtn:active{
    background: #E1E6EC;
    box-shadow: inset 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff  ;
}

#range{
    width: 90%;
    -webkit-appearance: none;
    appearance: none;
    background: #E1E6EC;
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff  ;
    border-radius: 50px;
    margin: 12px 0;
}
#range::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #A2B1C6;
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 5px  #fff  ;
    width: 15px;
    height: 15px;
    border-radius: 90px;
}
#range::-moz-range-thumb{
    width: 50px;
    height: 50px;
}

ul {
    list-style: none;
    cursor: default;
    width: 100%;
}

#listContainer {
    min-height: 400px;
}

ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 100%;
    height: 40px;
    background-color: #E1E6EC;
    text-align: center;
    align-items: center;
    border: none;
    font-family: 'Roboto', sans-serif;
}

ul li:active{
    background: #E1E6EC;
    box-shadow: inset 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff  ;
}

#searchContainer {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    background-color: #E1E6EC;
    box-shadow: 5px 5px 11px #A2B1C6 , -5px -5px 11px  #fff  ;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: none;
}

#search{
    width: 300px;
    height: 40px;
    margin-left: 10px;
    background-color: #E1E6EC;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    border: none;
}

#searchImage {
    width: 30px;
    margin-left: 5px;
}

.time {
    font-size: 14px;
}

.currentTime {
    position: absolute;
    margin-left: 14px;
}

.durationTime {
    position: absolute;
    margin-left: 260px;
}

#playlistContainer {
    display: none;
    margin-top: 20px;
    width: 300px;
    height: auto;
    background-color: #E1E6EC;
    box-shadow: 5px 5px 11px #A2B1C6 , -5px -5px 11px  #fff  ;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

#playlistContainer h2{
    font-size: 15px;
    text-decoration: underline;
}

input[type='checkbox']:after{
    line-height: 1.5em;
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: -4px;
    margin-left: -4px;
    border: 1px solid rgb(192,192,192);
    border-radius: 0.25em;
    background: rgb(224,224,224);
    border-color: rgb(102, 98, 98);
}

input[type='checkbox']:checked:after {
    width: 15px;
    height: 15px;
    background: rgb(0, 0, 0);
}

.checkboxItems {
    display: none;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 25px;
    box-shadow: 0 5px 30px rgb(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#popup.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#closePopup {
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }